@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,300&display=swap');

:root{
    --primary-color: #FF3514;
    --white-color: #FFFFFF;
    --text-color: #3F485D;
    --base-background-color: #F4F4F4;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.html{
    font-size: 62.5%;
}

@keyframes hide{
    from{
        opacity: 0;
        transform: translateX(-100%);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

