.header{
    position: relative;
}
.header-image{
   width: 100%;
   height: auto;
   object-fit: contain;
}
.header-contact{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 10px auto;
    padding-bottom: 15px;
    border-bottom: 1px solid grey;
}
.header-contact__social{
    margin: 0 20px;
    cursor: pointer;
}
.header-contact__social i:first-child{
    margin-left: 0;
}
.header-contact__social i{
    margin-left: 25px;
    color: white;
    transition: color 0.2s linear;
    font-size: 1.3rem;
}
.header-contact__social i:hover{
    color: var(--primary-color);
}
.header-contact__phone{
    display: flex;
    align-items: center;
    margin: 0 20px;
    font-size: 1rem;
    color: var(--white-color);
    font-weight: 600;
}
.get-price{
    margin-right: 33px;
    position: relative;
    cursor: pointer;
    transition: color 0.5s linear;
}
.get-price:hover{
    color: var(--primary-color);
}
.get-price::before{
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -23px;
    width: 18px;
    height: 2px;
    border-radius:1px;
    background-color: var(--primary-color);
}
.get-price::after{
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -23px;
    width: 18px;
    height: 2px;
    border-radius:1px;
    background-color: var(--primary-color);
}
.header-contact__phone-child{
    cursor: pointer;
    transition: color 0.3s linear;
}
.header-contact__phone-child:hover{
    color: var(--primary-color);
}
.header-nav{
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
}
.header-nav__list-child{
    margin-left: 180px;
    list-style: none;
    display: flex;
    font-weight: 600;
    color: var(--white-color);
}
.header-nav__item:first-child{
    margin-left: 0;
}
.header-nav__item{
    cursor: pointer;
    margin-left: 30px;
    border-bottom: 2px solid transparent;
    transition: all 0.3s linear;
    transform-origin: left;
}
.header-nav__item:hover{
    border-bottom: 2px solid var(--primary-color);
}
.header-nav__search{
    margin-right: 20px;
    color: var(--white-color);
    font-size: 1.3rem;
    cursor: pointer;
    transition: color 0.3s linear;
}
.header-nav__search:hover{
    color: var(--primary-color);
}
.header-content{
    position: absolute;
    top: 180px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2.5rem;
    font-weight: bold;
    width: 100%;
    max-width: 780px;
    color: var(--text-color);
    text-align: center;
}
.header-content__btn{
    position: absolute;
    top: 490px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    font-weight: 600;
}
.header-content__btn__learn-more{
    margin-right: 10px;
    margin-left: -10px;
    padding: 25px;
    background-color: var(--primary-color);
    cursor: pointer;
    transition: all 0.2s linear;
}
.header-content__btn__learn-more:hover{
    background-color: #d13e28;
}
.header-content__btn__text{
    margin-right: 25px;
}
.header-content__btn__quote{
    padding: 23px; 
    border: 1px solid gray;
    background-color: var(--white-color);
    transition: all 0.2s linear;
    cursor: pointer;
}
.header-content__btn__quote:hover{
    background-color: rgb(226, 217, 217);
}
.intro-container{
    background-color: (--base-background-color);
}
.intro{
    padding: 80px 60px;
}
.intro-image-child{
    width: 100%;
    height: auto;
    object-fit: contain;
}
.intro-content-wrap{
    height: 100%;
    display: flex; 
    align-items: center;
}
.intro-content__title{
    font-weight: 400;
    font-size: 2rem;
    margin: 0;
}
.intro-content__desc{
    margin: 45px 0;
}
.intro-content__btn{
    padding: 25px;
    font-weight: 600;
    color: white;
    background-color: var(--primary-color);
    max-width: 168px;
    cursor: pointer;
    transition: all 0.2s linear;
}
.intro-content__btn:hover{
    background-color: #d13e28;
}
.intro-content__btn__text{
    margin-right: 20px;
}
.offer{
    margin-top: 110px;
    margin-bottom:20px;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.offer-image{
    width: 95%;
    height: auto;
    object-fit: contain;
    margin: 0 auto;
    transition: all 0.3s linear;
    cursor: pointer;
}
.offer-image:hover{
    transform: scale(1.05);
}
.offer-content{

}
.sale-container{
    background-color:#E0ECF1;
}
.sale{
    padding: 70px 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sale-content{
    color: var(--text-color);
    font-size: 1rem;
}
.sale-content h2{
    margin: 0;
}
.sale-btn{
    padding: 25px;
    background-color: var(--primary-color);
    cursor: pointer;
    transition: all 0.2s linear;
}
.sale-btn:hover{
    background-color: #d13e28;
}
.sale-btn-text{
    margin-right: 20px;
    font-weight: 600;
    color: var(--white-color);
}
.sale-btn i{
    color: var(--white-color);
}
.different{
    padding: 110px;
    background-color: #212426;
}
.defferent-content{
    height: 100%;
    color: white;
}
.different-content__title{
    margin-bottom: 50px;
}
.different-content__desc{
    margin-bottom: 50px;
}
.different-content__btn{
    padding: 25px;
    max-width: 170px; 
    background-color: var(--primary-color);
    cursor: pointer;
    transition: all 0.2s linear;
}
.different-content__btn:hover{
    background-color: #d13e28;
}
.different-content__btn__text{
    font-weight: 600;
    margin-right: 20px;
}
.different-feedback{
    width: 100%;
}
.different-feedback__content{
    max-width: 80%;
    border-radius: 10px;
    background-color: var(--white-color);
    padding: 35px 30px;
    margin: 0 auto;
}
.different-feedback__user{
    max-width: 80%;
    margin: 10px auto;
    color: white;
    display: flex;
    align-items: center;
}
.different-feedback__user__avatar{
    width: 50px;
    height: 50px;
    object-fit: contain;
    border-radius: 50%;
    margin-right: 10px;
}
.different-feedback__user__name{
    display: flex;
    flex-direction: column;
}
.different-feedback__user__name-title{
    font-size: 1.1rem;
    font-weight: 600;
}
.different-feedback__user__name__desc{
    font-size: 0.7rem;
    font-weight: 600;
    color: var(--primary-color);
}
.different-quality{
    width: 80%;
    margin: 50px auto 0 auto;
}
.defferent-quality__content{
    color: white;
}
.different-quality__content__title{
    color: var(--primary-color);
}
.different-quality__content__desc{
    font-size: 0.9rem;
    margin-top: 10px;
}
.blog{
    background-color:#F4F4F4;
    padding: 100px 75px;
}
.blog__image{
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.blog__image-child{
    width: 100%;
    height:auto;
    object-fit: contain;
    margin: 0 auto;
}
.blog__image:hover .blog__image__content{
    display: block;
}
.blog__image__content{
    position: absolute;
    bottom: 30px;
    left: 30px;
    color: white;
    animation: hide 0.7s linear;
    display: none;
}
.blog__image__content__title{
    font-weight: 600;
    margin-bottom: 3px;
    transition: all 0.5s linear;
}
.blog__image__content__time{
    color: var(--primary-color);
    background-color: white;
    padding: 5px;
    max-width: 110px;
    font-size:0.8rem;
    font-weight: 600;
}
.blog-content__title{
    font-size: 1.2rem;
    color: var(--text-color);
    margin-bottom: 30px;
}
.blog-content__desc{
    margin-bottom:30px;
}
.blog-content__link-child{
    color: var(--primary-color);
    text-decoration: none;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    font-weight: 600;
}
.blog-content__link{
   
}
.blog-content__line{
    width: 15px;
    height: 2px;
    border-radius: 2px;
    background-color: var(--primary-color);
    margin-right: 10px;
    transition: all 0.3s linear;
}
.blog-content__link-child:hover .blog-content__line{
    width: 30px;
}
.footer{
    background-color: #FCFCFC;
    color: var(--text-color);
    padding: 80px 70px;
    border-top: 1px solid grey;
}
.footer__content{

}
.footer__content__title{
    font-size: 0.7rem;
    font-weight: bold;
}
.footer__desc{
    margin-top:25px;
}
.footer__desc__list{
    list-style: none;
}
.footer__desc__item:first-child{
    margin-top: 0;
}
.footer__desc__item{
    margin-top: 7px;
}
.footer__desc__item__text{
    cursor: pointer;
    transition: all 0.1s linear;
}
.footer__desc__item__text:hover{
    color: var(--primary-color);
}
.footer__desc__item__text i{
    min-width:25px;
}
.footer__content__form{
    margin-top: 25px;
}
.footer__content__form__email input{
    padding: 2px 10px;
    outline: none;
    border: none;
    border-bottom: 1px solid gray;
}
.footer__content__form__phone-number{
    margin-top: 5px;
}
.footer__content__form__phone-number input{
    padding: 2px 10px;
    outline: none;
    border: none;
    border-bottom: 1px solid gray;
}
.footer__content__form__btn{
    background-color: var(--primary-color);
    font-size: 0.8rem;
    font-weight: 600;
    color: white;
    padding:5px;
    border-radius: 7px;
    width: 55px;
    margin-top: 8px;
    transition: all 0.2s linear;
    cursor: pointer;
}
.footer__content__form__btn:hover{
    background-color: #d13e28;
}
.design{
    padding: 20px;
    background-color: #E5E5E5;
}
.design-content{
    text-align: center;
}
.design-content span{
    font-weight: 600;
}